/* EXAMPLE FILE */

// 1. @fontface declarations

// 2. Reset, normalize etc.

// 3. Custom settings (copy of defaults.scss)

// 4. Import base library

@import "atomic-scss-library/index";

// 5. Import additional components

@import "atomic-scss-library/components/dropdown/dropdown";
@import "atomic-scss-library/components/slideshow/fade";

// 6. @extend and other styles

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

